<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test name="Test">
  
     <classes>
            <class name="TestPages.HomePageTestCases"/>
            <class name="TestPages.CartPageTestCases"/>
            <class name="TestPages.PlaceOrderPageTestCases"/>
            <class name="TestPages.ProceedPageTestCases"/>
    
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->